<div class="form">

    <mat-tab-group>
        <mat-tab label="Tab 1">
            <ng-template mat-tab-label>
                <h2>Sign Up</h2>
            </ng-template>
            <div id="signup">
                <h1>Sign Up for Free</h1>

                <form [formGroup]="registerFrom" (ngSubmit)="onRegisternSubmit()">

                    <div class="top-row">
                        <div class="field-wrap">
                            <mat-form-field class="full">
                                <input matInput placeholder="name" formControlName="firstname">
                            </mat-form-field>
                        </div>

                        <div class="field-wrap">
                            <mat-form-field class="full">
                                <input matInput placeholder="lastname" formControlName="lastname">
                            </mat-form-field>
                        </div>
                    </div>

                    <div class="field-wrap">
                        <mat-form-field class="full">
                            <input matInput placeholder="email" formControlName="email">
                        </mat-form-field>
                    </div>

                    <div class="field-wrap">
                        <mat-form-field class="full">
                            <input matInput type="password" placeholder="password" formControlName="password">
                        </mat-form-field>
                    </div>

                    <button mat-button type="submit" class="button button-block">Get Started</button>

                </form>

            </div>
        </mat-tab>
        <mat-tab label="Tab 2">
            <ng-template mat-tab-label>
                <h2>Log In</h2>
            </ng-template>
            <div id="login">
                <h1>Welcome Back!</h1>

                <form [formGroup]="loginForm" (ngSubmit)="onLoginSubmit()">

                    <div class="field-wrap">
                        <mat-form-field class="full">
                            <input matInput placeholder="email" formControlName="email">
                        </mat-form-field>
                    </div>

                    <div class="field-wrap">
                        <mat-form-field class="full">
                            <input type="password" matInput placeholder="password" formControlName="password">
                        </mat-form-field>
                    </div>

                    <button mat-button class="button button-block">Log In</button>

                </form>

            </div>


        </mat-tab>
    </mat-tab-group>

    <!-- tab-content -->

</div>
<!-- /form -->