<div class="container">
    <div class="top">
        <span>Name Of The Game</span>
        <span class="author">Author Of The Game</span>
    </div>
    <div class="bottom">
        <div class="card" *ngFor="let item of players">
            <div class="avatar">
                <img src="https://www.1plusx.com/app/mu-plugins/all-in-one-seo-pack-pro/images/default-user-image.png" alt="">
            </div>
            <div class="name">
                <span>{{item.name}}</span>
            </div>
            <div class="score">
                <span>{{item.score?item.score:0}}</span>
            </div>
        </div>
    </div>
</div>