.container {
    display: flex;
    flex-direction: column;
    min-width: 450px;
    form {
        display: flex;
        flex-direction: column;
        .top {
            h2 {
                margin: 5px 34%;
            }
            padding: 3px;
            border-bottom: 1px solid #cccccc;
            box-shadow: 0px 1px 1px 0px rgba(black, .5);
            margin: 10px 0;
            .time {
                display: flex;
                justify-content: space-around;
            }
        }
        .answers {
            display: flex;
            flex-direction: column;
            .group {
                display: flex;
                justify-content: space-around;
                align-items: center;
                mat-radio-button {
                    margin: 0 15px;
                }
            }
        }
        .buttons {
            display: flex;
            justify-content: space-around;
            margin: 10px 0;
            .button {
                display: block;
                width: 45%;
                background-color: #fd7373;
            }
            .add {
                background-color: #4bf74b;
            }
        }
    }
}

.full {
    width: 100%;
    margin: 0 2px;
}