<div class="container">
  <div class="avatar-flip">
    <img src="http://1.bp.blogspot.com/-A72FPp21-3I/VWpBZiM_yDI/AAAAAAAAAOE/ci-iT8oY4bk/s1600/wallpaper-miku-HD%2B%252822%2529.jpg"
      height="200" width="200">
  </div>
  <h2>Miku Hatsune</h2>
  <mat-list>
    <mat-list-item role="listitem">
      <div class="game">
        <a href='#'>See the Game</a>
        <mat-icon>play_arrow</mat-icon>
      </div>
    </mat-list-item>
    <mat-list-item role="listitem">
      <div class="game">
        <a href='#'>See the Game</a>
        <mat-icon>play_arrow</mat-icon>
      </div>
    </mat-list-item>
    <mat-list-item role="listitem">
      <div class="game">
        <a href='#'>See the Game</a>
        <mat-icon>play_arrow</mat-icon>
      </div>
    </mat-list-item>
  </mat-list>
</div>
